#container {
  height: 600px;
  width: 600px;
  background-color: rebeccapurple;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h1{
  font-family: "Comic Sans MS", sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}

main {
  margin-top: 10px;
  position: relative;
  text-align: center;
}

nav {
  height: 50px;
  margin-bottom: 10px;
}

#gifContainer {
  height: 300px;
  overflow: hidden;
}
